body{
    background-color:#101010;
}
h1{
    color:#EFEFEF; 
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2{
    color: #CDCDCD;
    font-family: 'Nunito', sans-serif;
}

p{
    margin-left:5px;
    margin-right:5px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

li{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin: 5px;
    padding: 0;
}
li > a{
    text-decoration: none;
    color: inherit;
}
li>a:hover{
    background-color: #333333;
    transition: 500ms;
}
li > button{
    border:none; 
    width: 100px;
    height: 50px;
    background-color: #222222;
    color: #CDCDCD;
    cursor: pointer;
}

li>button:hover{
    background-color: #333333;
    transition: 500ms;
}